body {
  font-family: Arial, sans-serif;
  background-color: #e8d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.atm-container {
  background: rgb(136, 207, 232);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #6686ef;
  border-radius: 5px;
}

button {
  width: 48%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: rgb(17, 5, 5);
  cursor: pointer;
}

.deposit {
  background-color: rgb(78, 199, 78);
}

.withdraw {
  background-color: rgb(220, 124, 124);
}

.deposit:hover {
  background-color: rgb(112, 238, 112);
}

.withdraw:hover {
  background-color: darkred;
}

